{% extends 'layout.twig' %}

{% block header %}Short URLs{% endblock %}

{% block content %}

    <table class="table table-striped">

        <thead>
            <tr>
                <th>URL</th>
                <th>Short URL</th>
            </tr>
        </thead>

        <tbody>
            {% for url in urls %}
            <tr>
                <td>{{ url.url|e }}</td>
                <td>{{ url.short|e }}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

{% endblock %}