{% extends 'layout.twig' %}

{% block header %}URL Shortener{% endblock %}

{% block content %}

    <form id="create-form" action="{{ urlFor('url.index') }}" method="post" role="form">

        <div class="form-group">
            <label class="sr-only" for="url">URL</label>
            <input type="url" class="form-control input-lg" name="url" id="url" placeholder="http://phpbelfast.com" required="required">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>

{% endblock %}