{% extends "layout.twig" %}
{% block header %}

{% endblock %}
{% block content %}
    <div class="col-sm-8 col-sm-offset-2">
    {% for post in posts %}
        <article class="row">
            <div class="image col-sm-5">
                <img class="img-responsive" src="{{ post.image }}" alt=""/>
            </div>
            <div class="col-sm-7">
                <h2>
                    <a href="{{ urlFor("posts.item",{'id': post.id}) }}">
                        {{ post.title }}
                    </a></h2>

                <p class="date">{{ post.created_at.diffForHumans() }}</p>
            </div>
        </article>
        <hr/>
    {% endfor %}
    </div>
{% endblock %}

